<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celta Software</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src='~/Images/logo.png' alt="Celta" width="70%" />
               
            </div>
            @if (Session["userID"] != null)
            {
                
                List<int> permisos = (List<int>)Session["permisosUser"];                            
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Documentos<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @if (permisos.Contains(1) || permisos.Contains(2)) { 
                                    <li>@Html.ActionLink("Ver Documentos de Hoy", "Index", "documentos")</li>
                                    <li>@Html.ActionLink("Asignar Area Internas a Despachos", "despachoDomicilio", "documentos")</li>
                                    <li class="divider"></li>
                                }
                                <li>@Html.ActionLink("Buscardor Historico", "Buscador", "documentos")</li>
                                                         
                            </ul>
                        </li>
                        @if (permisos.Contains(1) || permisos.Contains(3))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Despachos<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">                                
                                    <li>@Html.ActionLink("Boletas Despachar Mañana", "noDespachados", "listadoDespacho")</li>                                
                                    <li>@Html.ActionLink("Boletas Despachar Hoy", "porDespachar", "listadoDespacho")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Historico Boletas Despachadas", "Despachados", "listadoDespacho")</li>                                
                                </ul>
                            </li>
                        }
                        <li>@Html.ActionLink("Bodegas/Areas Internas", "Index", "bodegas") </li>
                        @if (permisos.Contains(1) || permisos.Contains(3)) { 
                            <li>@Html.ActionLink("Transportistas", "Index", "Transportista") </li>
                        }
                        
                        @if (permisos.Contains(1))
                        {
                            <li>@Html.ActionLink("Registro de Acciones", "Index", "log")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Usuarios<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Todos", "Index", "Users")</li>
                                    <li>@Html.ActionLink("Crear", "Create", "Users")</li>                                    
                                </ul>
                            </li>
                        }
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Mi Sesion<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                    

                            
                                <li><a href="@Url.Action("cambiarDatos", "Users")">Cambiar Datos</a></li>
                                <li class="divider"></li>                               
                                <li><a href="@Url.Action("Logout", "Users")">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            }
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div><!--navbar-fixed-bottom-->   
        <br /><br />                         
            <footer class="navbar hidden">
                <p>&copy; @DateTime.Now.ToString("dd-MM-yyyy") - Celta Software</p>
            </footer>
        </div>
    </div>

    
</body>
</html>
