@model IEnumerable<SoftwareCelta.Models.dw_movin>
@{
    ViewBag.Title = "Buscar Documento Registrado";   

}
<br /><br /><br />
<div class="row">
        <div class="col-md-12">
            <h4>Filtros:</h4>
        </div>
        <div class="col-md-3">
            <label class="control-label">Inicio:</label>
            <input class="form-control fecha" id="fechaInicial" name="fechaInicial" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaInicial">

        </div>
        <div class="col-md-3">
            <label class="control-label">Término:</label>
            <input class="form-control fecha" id="fechaFinal" name="fechaFinal" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaFinal">
        </div>        
        <div class="col-md-4">
            <br />
            <input class="btn btn-primary btn-block" id="Boton" value="Buscar" type="button" />
        </div>
</div>
<br />
<br />
<h2>Documentos Registrados</h2>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Numero Boleta
                </th>                
                <th>
                    Fecha Emision
                </th>
                <th>
                    Tipo Documento
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroDocumento)
                    </td>                    
                    <td>
                        @SoftwareCelta.Models.Formateador.fechaCompletaToString(item.fechaEmision)                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoDocumento)
                    </td>
                    <td>                       
                        @Html.ActionLink("Mostrar", "DocumentoRegistrado", new { documentoID = item.dw_movinID }) 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });

            $("#Boton").click(function () {
                var fechaInicial = $("#fechaInicial").val();
                var fechaFinal = $("#fechaFinal").val();
                fechaInicial = fechaInicial.replace("/", "-").replace("/", "-");
                fechaFinal = fechaFinal.replace("/", "-").replace("/", "-");
                if (fechaInicial == "" || fechaFinal == "") {
                    alert("Debe ingresar ambas fechas");
                }
                else {                    
                    ruta = "/documentos/Buscador?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal;
                    window.location.href = ruta
                }
            });
        });
    </script>
}