@model IEnumerable<SoftwareCelta.Models.dw_movin>
@{
    ViewBag.Title = "Buscar Documento Registrado";
    
    //List<SoftwareCelta.Models.dw_ciudades_despacho> ciudades = (List<SoftwareCelta.Models.dw_ciudades_despacho>)ViewData["ciudad"];

}
<br /><br /><br />
<div class="col-md-12 hidden" id="divError">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        Este documento no existe en nuestros registros
    </div>
</div>
<br /><br />
<div class="row">
        <div class="col-md-12">
            <h4>Filtros:</h4>
        </div>
        <div class="col-md-3">
            <label class="control-label">Desde:</label>
            <input class="form-control fecha" id="fechaInicial" name="fechaInicial" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaInicial">

        </div>
        <div class="col-md-3">
            <label class="control-label">Hasta:</label>
            <input class="form-control fecha" id="fechaFinal" name="fechaFinal" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaFinal">
        </div>                           
        <div class="col-md-3">
            <label class="control-label">Ciudad Despacho</label>
            <select class="form-control" id="ciudad">
                <option value="todas">Todas</option>

                   @foreach (SoftwareCelta.Models.dw_ciudades_despacho ciudad in (List<SoftwareCelta.Models.dw_ciudades_despacho>)ViewData["ciudades"])
                   {
                        <option value="@ciudad.nombre" @if (System.Convert.ToString(ViewBag.ciudad) == ciudad.nombre) { <text>selected</text> }>@ciudad.nombre</option>
                   }    
            </select>
        </div>
    
        <div class="col-md-3">
            <label class="control-label">Tipo Documento</label>
            <select class="form-control" id="tipoDocumento">
                
                <option value="todos" @if (System.Convert.ToString(ViewBag.tipo) == "todos") { <text>selected</text> }>Todos</option>
                <option value="BOLETA" @if (System.Convert.ToString(ViewBag.tipo) == "BOLETA") { <text>selected</text> }>Boleta</option>
                <option value="FACTURA" @if (System.Convert.ToString(ViewBag.tipo) == "FACTURA") { <text>selected</text> }>Factura</option>
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label">Numero Documento</label>
            <input class="form-control numDoc" name="numDoc" id="numDoc" type="number" />
        </div>
        <div class="col-md-3">
            <br />
            <input class="btn btn-primary btn-block" id="Boton" value="Buscar" type="button" onclick="return false;"/>
        </div>
</div>
<span>*Al buscar por numero de documento se omiten los otros filtros</span>
<br />
<br />
<h2>Documentos Registrados</h2>
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Numero Boleta
                </th>
                <th>
                    Fecha Emision
                </th>
                <th>
                    Tipo Documento
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroDocumento)
                    </td>
                    <td>
                        @SoftwareCelta.Models.Formateador.fechaCompletaToString(item.fechaEmision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoDocumento)
                    </td>
                    <td>
                        @Html.ActionLink("Mostrar", "DocumentoRegistrado", new { documentoID = item.dw_movinID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {   
    <script>
        $(document).ready(function () {

           
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY',
                locale: 'es'
            });

            $("#Boton").click(function () {
                var fechaInicial = $("#fechaInicial").val();
                var fechaFinal = $("#fechaFinal").val();
                var numDoc = $("#numDoc").val();
                var ciudad = $("#ciudad").val();
                var tipoDocumento = $("#tipoDocumento").val();

                fechaInicial = fechaInicial.replace("/", "-").replace("/", "-");
                fechaFinal = fechaFinal.replace("/", "-").replace("/", "-");

                if (numDoc != "") {
                    $.ajax({
                        method: "POST",
                        url: "/Despacho/documentos/BuscarDocumentoPorNumero", data: { "numDoc": numDoc},
                        success: function (retorno) {
                            if (retorno == "true") {
                                ruta = window.location.pathname + "?numDoc=" + numDoc;
                                window.location.href = ruta
                            } else {
                                $("#divError").removeClass("hidden");
                            }
                        }
                    });
                    
                }
                else {
                    if (fechaInicial == "" || fechaFinal == "") {
                        alert("Debe ingresar ambas fechas");
                    }
                    else {
                        if (ciudad == "todas" && tipoDocumento=="todos") {
                            ruta = window.location.pathname+"?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal;                            
                        } else if(ciudad!="todas" && tipoDocumento=="todos") {
                            ruta = window.location.pathname + "?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal + "&ciudad=" + ciudad;
                        } else if (ciudad == "todas" && tipoDocumento != "todos") {
                            ruta = window.location.pathname + "?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal + "&tipo=" + tipoDocumento;
                        } else {
                            ruta = window.location.pathname + "?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal + "&ciudad=" + ciudad + "&tipo=" + tipoDocumento;
                        }
                        window.location.href = ruta
                    }
                }
            });
        });
    </script>
}