@model IEnumerable<SoftwareCelta.Models.dw_movin>
@{
    ViewBag.Title = "Buscar Documento";
    int i = 0;
    //List<List<SoftwareCelta.Models.dw_detalle>> listaDeListaDetalle = (List<List<SoftwareCelta.Models.dw_detalle>>)ViewData["listaDeListaDetalle"];
}
<br /><br />
@if (TempData["Success"] != null)
{   <br /><br /><br />
    <div class="col-md-12">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            @TempData["Success"]
        </div>
    </div>
}
<br />
<div class="col-md-12">
    <h3>Buscar Documento Registrado</h3>  
    <div class="col-md-3 fechaInicio">
        <label class="control-label">Desde:</label>
        <input class="form-control fecha" id="fechaInicial" name="fechaInicial" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaDesde">

    </div>
    <div class="col-md-3 fechaFinal">
        <label class="control-label">Hasta:</label>
        <input class="form-control fecha" id="fechaFinal" name="fechaFinal" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaHasta">
    </div>
    <div class="col-md-3">
        <br />
        <input class="btn btn-primary btn-block" id="Boton" value="Buscar" type="button" />
    </div>    
</div>
<div class="row hidden">
    <h3>Buscar Documento Registrado Hoy</h3>    
        <div class="col-md-6">
            <input type="number" class="form-control" name="numeroDocumento" id="numeroDocumento" required />
        </div>
        <div class="col-md-6">
            <input type="submit" value="Buscar" id="BotonBuscar" class="btn btn-lg btn-primary btn-block" />
        </div>
</div>

<br />
<div class="col-md-12 hidden" id="divError">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        Este documento no existe en nuestros registros como boleta ya procesada
    </div>
</div>
<br />
<br />
<h2>Documentos Registrados Hoy @SoftwareCelta.Models.Formateador.fechaCompletaToString(DateTime.Today)</h2>
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1">
                    Numero Boleta
                </th>          
                <th class="col-md-1">
                    Tipo documento
                </th>                
                <th class="col-md-8">
                    <div class="col-md-12">Productos para Despacho</div>
                    <div class="col-md-12">
                        <div class="col-md-2">Codigo</div>
                        <div class="col-md-4">Desc.</div>
                        <div class="col-md-1">Cant.</div>
                        <div class="col-md-5">Area Interna</div>
                    </div>
                    
                </th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroDocumento)
                        <input class="hidden idMovin" value="@item.dw_movinID" />
                    </td>                 
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoDocumento)
                    </td>
                    <td >
                        @{string nameDiv = "prod" + i;}
                        @{string nameDivSucces = "divSucces" + i;}
                        <div class="col-xs-2">
                            <button data-toggle="collapse" data-target="#@nameDiv" class="btn btn-primary btn-collapse">+</button>
                        </div>
                        <div class="col-xs-10 divSucces"></div>
                        <br /><br />
                        <div class="collapse col-xs-12" id="@nameDiv">
                            @foreach (var detalle in item.detalleMovin)
                            {
                                <text>
                                    <input class="hidden detalleID" value="@detalle.dw_detalleID" name="detalleID" />
                                </text>
                                <text><div class="col-xs-2">@detalle.codigoProducto</div><div class="col-xs-4">@detalle.descripcionProducto</div><div class="col-xs-1">@detalle.cantidadProducto</div></text>
                                <text>
                                    <div class="col-xs-5">
                                    <select class="form-control areaInterna" name="areaInterna">
                                        <option value="0">Sin Asignar</option>
                                        @foreach (var areaInt in (List<SoftwareCelta.Models.dw_areaInterna>)ViewData["bodegas"])
                                        {
                                            <text>
                                                <option value="@areaInt.dw_areaInternaID" @if (areaInt.dw_areaInternaID.Equals(detalle.dw_areaInternaID)) { <text> selected</text>}>@areaInt.nombre</option>
                                            </text>
                                        }
                                    </select>
                                    </div>
                                </text>
                                <text><br /><br /></text>
                                if (detalle.descripcionProducto.Length > 28) { 
                                    <text><br /></text>
                                }
                                if (detalle.descripcionProducto.Length > 43)
                                {
                                    <text><br /></text>
                                }
                            }
                            <button class="btn btn-success guardarAreaInternaProd col-sm-offset-10">Guardar</button>
                        </div>

                    </td>
                    <td>
                        <!--
                        @Html.ActionLink("Asignacion Despacho +", "paraDespacharADomicilio", new { documentoID = item.dw_movinID }, new { @class = "btn btn-primary" })
                        !-->
                        @Html.ActionLink("Asignar Fecha Despacho", "datosEnvio", new { documentoID = item.dw_movinID }, new { @class = "btn btn-primary" })                    
                       
                    </td>
                </tr>
                            i++;
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
            $(".guardarAreaInternaProd").click(function () {
                var idsDetalles = $(this).closest('tr').find("input[name='detalleID']").map(function () { return $(this).val(); }).get();
                var areasInternas = $(this).closest('tr').find("select[name='areaInterna']").map(function () { return $(this).val(); }).get();
                var idMovin = $(this).closest('tr').find(".idMovin").val();
                console.log(idsDetalles);
                console.log(areasInternas);
                var div = $(this).closest('tr');
                $.ajax({
                    method: "POST",
                    ///Despacho
                    url: "/Despacho/documentos/guardarAreaInteraMovin", data: { "idsDetalles": idsDetalles, "areasInternas": areasInternas, "idMovin": idMovin },
                    beforeSend: function () {
                        div.find('.divSucces').html("GUARDANDO...");
                    },
                    success: function (retorno) {
                        div.find('.divSucces').html(retorno);
                        div.find(".btn-collapse").trigger('click');
                    }
                });
            });

            $("#BotonBuscar").click(function () {
               
                var numeroDoc = $("#numeroDocumento").val();
                    $.ajax({
                        method: "POST",
                        url: "/Despacho/documentos/BuscarDocumentoPorNumeroFechaActual", data: { "numDoc": numeroDoc},
                        success: function (retorno) {
                            if (retorno != "false") {
                                ruta = "/Despacho/documentos/paraDespacharADomicilio?documentoID="+retorno;
                                window.location.href = ruta;
                            } else {
                                $("#divError").removeClass("hidden");
                            }
                        }
                    });


            });

            $("#Boton").click(function () {
                var fechaInicial = $("#fechaInicial").val();
                var fechaFinal = $("#fechaFinal").val();
                var url = "";
                if (fechaInicial != "" && fechaFinal != "") {
                    window.location.href = window.location.pathname + "?fechaInicial="+fechaInicial+"&fechaFinal="+fechaFinal;
                } else {
                    window.location.href = window.location.pathname;
                }

            });

        });

    </script>
}
