@model SoftwareCelta.Models.dw_movin
@{
    ViewBag.Title = "Documento Registrado";
    SoftwareCelta.Models.dw_envio datosEnvio = (SoftwareCelta.Models.dw_envio)ViewData["datosEnvio"];
    SoftwareCelta.DAL.ContextBDCelta db = new SoftwareCelta.DAL.ContextBDCelta();
    string nombreBodega = "";
    string nombreTrans = "";
}
<br /><br />
<h2>Documento @Model.numeroDocumento </h2>
<h3>Fecha Emision @SoftwareCelta.Models.Formateador.fechaCompletaToString(Model.fechaEmision)</h3>
<br />

    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Nombre Cliente</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null)) { 
                <text>@datosEnvio.nombreCliente</text>
            }
            else { 
                <text>Sin Dato</text>
            }
            
        </div>
        <div class="col-md-4">
            <label class="control-label">Rut</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@datosEnvio.rutCliente</text>
            }
            else
            {
                <text>Sin Dato</text>
            }
            
        </div>
        <div class="col-md-4">
            <label class="control-label">Ciudad</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@datosEnvio.ciudad</text>
            }
            else
            {
                <text>Sin Dato</text>
            }
            

        </div>
        <br /><br /><br /><br />
        <div class="col-md-4">
            <label class="control-label">Telefono</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@datosEnvio.telefono</text>
            }
            else
            {
                <text>Sin Dato</text>
            }
        </div>
        <div class="col-md-8">
            <label class="control-label">Direccion</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@datosEnvio.direccion</text>
            }
            else
            {
                <text>Sin Dato</text>
            }
        </div>
        <br /><br /><br />
        <div class="col-md-12">
            <label>Observacion</label>
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@datosEnvio.observacion</text>
            }
            else
            {
                <text>Sin Dato</text>
            }
        </div>
        <br />
        <div class="col-md-3">
            <label class="control-label">Fecha Despacho</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@SoftwareCelta.Models.Formateador.fechaCompletaToStringS0(datosEnvio.fechaDespacho)</text>
                
            }
            else
            {
                <text>Sin Dato</text>
            }
            
        </div>
        <div class="col-md-3">
            <label class="control-label">Nombre Vendedor</label><br />
            
                @Model.nombreVendedor
            
        </div>
        <div class="col-md-3">
            <label class="control-label">Despachado Por</label><br />
           
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                if(datosEnvio.dw_datosTransportistaID!=0){
                    
                    SoftwareCelta.Models.dw_datosTransportista transp = db.Transportistas.Find(datosEnvio.dw_datosTransportistaID);
                    <text>@transp.nombreCompleto</text>
                }
                else { 
                    <text>Sin Dato</text>
                }
            }
            else
            {
                <text>Sin Dato</text>
            }          
                    
        </div>
        <div class="col-md-3">
            <label class="control-label">Cantidad De visitas Despacho</label><br />
            @if (!Object.ReferenceEquals(datosEnvio, null))
            {
                <text>@datosEnvio.cantidadVisitasDespacho</text>

            }
            else
            {
                <text>Sin Dato</text>
            }            
        </div>
        <br /><br /><br />
        
    </div>
    <br />
    <br />
    
    <h3>Productos Comprados</h3>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codigo Producto
                    </th>
                    <th>
                        Descripcion Producto
                    </th>
                    <th>
                        Cantidad Producto
                    </th>
                    <th>
                        Area Interna /Bodega
                    </th>
                    <th>Entrega/Despacho</th>                    
                </tr>
            </thead>
            <tbody>

                @foreach (SoftwareCelta.Models.dw_detalle detalle in (List<SoftwareCelta.Models.dw_detalle>)ViewData["detalleDocumento"])
                {
                    
                    <tr>
                        <td>
                            
                            @detalle.codigoProducto
                        </td>
                        <td>
                            @detalle.descripcionProducto
                        </td>
                        <td>
                            @detalle.cantidadProducto
                        </td>
                        <td>
                            @if (!detalle.dw_areaInternaID.Equals(0))
                            {
                              
                                nombreBodega = db.Bodegas.Find(@detalle.dw_areaInternaID).nombre;
                                                        
                            }
                            else
                            {
                                nombreBodega = "";
                            }
                            @nombreBodega
                           
                        </td>
                        <td>
                            @if (detalle.estadoDespacho.Equals(0))
                            { 
                                <text>Retirado en tienda</text>
                            }
                            else if (detalle.estadoDespacho.Equals(1))
                            {
                                <text>
                                   Despacho a domicilio (Aun no se despacha)
                                </text>
                            }
                            else if (detalle.estadoDespacho.Equals(2))
                            {
                                <text>
                                    Despachado a domicilio
                                </text>
                            }
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>      
    </div>

