@model SoftwareCelta.Models.dw_movin
@{
    ViewBag.Title = "Documento";
    int contadorProductos = 1;
    string despacho = "estadoDespacho";
    string fechaDespacho = SoftwareCelta.Models.Formateador.fechaCompletaToStringS0(DateTime.Now.AddDays(2));
}
<br /><br />
<h2>Documento @Model.numeroDocumento</h2>

Fecha Emision: @SoftwareCelta.Models.Formateador.fechaCompletaToString(Model.fechaEmision)

<form role="form" method="post" action="@Url.Action("registrarNuevoDocumento", "documentos" )">
    <input type="text" class="hidden" value="@Model.numeroDocumento" name="numeroDocumento" />
    <input type="text" class="hidden" value="@Model.numeroVale" name="numeroVale" />    
    <input type="text" class="hidden" value="@SoftwareCelta.Models.Formateador.fechaCompletaToString(Model.fechaEmision)" name="fechaEmision" />
    <input type="text" class="hidden" value="@Model.tipoDocumento" name="Tipo" />
    <input type="text" class="hidden" value="@Model.nombreVendedor" name="CodVendedor" />
    <input type="text" class="hidden" value="@Model.total" name="total" />
    <input type="text" class="hidden" value="@Model.nombreCliente" name="nombreCliente" />
    <br />    

    <h3>Productos Comprados</h3>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codigo Producto
                    </th>
                    <th>
                        Descripcion Producto
                    </th>
                    <th>
                        Cantidad Producto
                    </th>                  
                    <th>Entrega Inmediata</th>
                    <th>Despacho a Domicilio</th>
                </tr>
            </thead>
            <tbody>

                @foreach (SoftwareCelta.Models.dw_detalle detalle in Model.detalleMovin)
                {
                    string nameDespacho = despacho + contadorProductos;
                    <tr>
                        <td>
                            @detalle.codigoProducto
                            <input class="hidden" value="@detalle.codigoProducto" name="codigoProducto" />
                        </td>
                        <td>
                            @detalle.descripcionProducto
                            <input class="hidden" value="@detalle.descripcionProducto" name="descripcionProducto" />
                            <input class="hidden" value="@detalle.valorProducto" name="valorProducto" />
                        </td>
                        <td>
                            @detalle.cantidadProducto
                            <input class="form-control hidden" type="number" value="@detalle.cantidadProducto" name="cantidadProducto" />
                        </td>                        
                        <td>

                            <input type="radio" name="@nameDespacho" value="0" class="entregaInmediata">
                        </td>
                        <td>
                            <input type="radio" name="@nameDespacho" value="1" class="despachoDomicilio" checked>
                        </td>
                    </tr>
                                contadorProductos++;
                }
            </tbody>
        </table>
        <br />
        <div class="clearfix"></div>
        <div class="modal-footer">
            <input type="submit" value="Guardar" class="btn btn-success btn-lg btn-default" />
        </div>
    </div>
</form>
<br />
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
           
        });
    </script>
}



