@model SoftwareCelta.Models.dw_movin
@{
    ViewBag.Title = "Documento Registrado";
    int contadorProductos = 1;
    string despacho = "despacho";
    SoftwareCelta.DAL.ContextBDCelta db = new SoftwareCelta.DAL.ContextBDCelta();
    SoftwareCelta.Models.dw_envio datosEnvio = (SoftwareCelta.Models.dw_envio)ViewData["datosEnvio"];
}

<h2>Documento @Model.numeroDocumento</h2>
<br />
Fecha: @SoftwareCelta.Models.Formateador.fechaCompletaToString(Model.fechaEmision)
<br /><div class="row">
    <div class="col-md-4">
        <label class="control-label">Nombre Cliente</label>
        @datosEnvio.nombreCliente
    </div>
    <div class="col-md-4">
        <label class="control-label">Rut</label>
        @datosEnvio.rutCliente
    </div>
    <div class="col-md-4">
        <label class="control-label">Ciudad</label>
        @datosEnvio.ciudad
    </div>
    <br />
    <div class="col-md-4">
        <label class="control-label">Telefono</label>
        @datosEnvio.telefono
    </div>
    <div class="col-md-8">
        <label class="control-label">Direccion</label>
        @datosEnvio.direccion
    </div>
    <br />
    <div class="col-md-12">
        <label>Observacion</label>
        @datosEnvio.observacion
    </div>
    <br />
    <div class="col-md-6">
        <label class="control-label">Fecha Despacho</label>
        @datosEnvio.fechaDespacho
    </div>
</div>
<br />
<br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codigo Producto
                    </th>
                    <th>
                        Descripcion Producto
                    </th>
                    <th>
                        Cantidad Producto
                    </th>
                    <th>
                        Area Interna /Bodega
                    </th>
                    <th>Entrega</th>                    
                </tr>
            </thead>
            <tbody>

                @foreach (SoftwareCelta.Models.dw_detalle detalle in (List<SoftwareCelta.Models.dw_detalle>)ViewData["detalleDocumento"])
                {
                    string nameDespacho = despacho + contadorProductos;
                    <tr>
                        <td>
                            @detalle.codigoProducto
                        </td>
                        <td>
                            @detalle.descripcionProducto
                        </td>
                        <td>
                            @detalle.cantidadProducto
                        </td>
                        <td>                                                            
                            @{                                
                                string nombreBodega = db.Bodegas.Find(@detalle.dw_areaInternaID).nombre;                                        
                            }
                            @nombreBodega
                        </td>
                        <td>
                            @if (@detalle.estadoDespacho.Equals(0)) { 
                                <text>
                                    Entrega Inmediata
                                </text>
                            }else if(@detalle.estadoDespacho.Equals(1)){
                                <text>
                                    Despacho Domicilio
                                </text>
                            }                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />        
    </div>






