@model IEnumerable<SoftwareCelta.Models.documento>
@{
    ViewBag.Title = "Buscar Documento";
}
<br /><br /><br />
<div class="row">
    
        <h2>Buscar Documento</h2>
        <form role="form" method="post" action="@Url.Action("Documento", "documentos" )">
            <div class="col-md-6">
                <input type="text" class="form-control" name="numeroDocumento" required/>
            </div>
            <div class="col-md-6">
                <input type="submit" value="Buscar" class="btn btn-lg btn-primary btn-block" />
            </div>
        </form>
</div>
<br />
<br />
<h2>Documentos Registrados</h2>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                Numero Boleta
            </th>    
            <th>
                Numero Venta
            </th>        
            <th>
                Fecha Emision
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                    @Html.DisplayFor(modelItem => item.numeroDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaEmisionDocumento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { documentoID = item.documentoID }) |
                    @Html.ActionLink("Mostrar", "DocumentoRegistrado", new { documentoID = item.documentoID }) |
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
