
@{
    ViewBag.Title = "Buscar Documento";
    int i = 0;   
}

<br />
<br />
<h2>Documentos de Hoy @SoftwareCelta.Models.Formateador.fechaCompletaToString(DateTime.Today)</h2>
@if (TempData["Success"] != null)
{   <br /><br /><br />
    <div class="col-md-12">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            @TempData["Success"]
        </div>
    </div><br />
}
<div class="table-responsive" ng-app="docsApp">
    <br />
    <input type="text" class="form-control" placeholder="Ingrese numero Folio" ng-model="searchDocs" />
    <br />
    <table class="table table-hover table-striped" ng-controller="docsController">
        <thead>
            <tr>
                <th class="col-md-2">
                    Numero Boleta
                </th>
                <th class="col-md-2">
                    Tipo documento
                </th>
                <th class="col-md-5">
                    <div class="col-md-12">Productos Comprados</div>
                    <div class="col-md-12">
                        <div class="col-md-3">Codigo</div>
                        <div class="col-md-7">Desc.</div>
                        <div class="col-md-2">Cant.</div>
                        
                    </div>
                    
                </th>
                <th class="col-md-3"></th>
            </tr>
        </thead>
        <tbody style="overflow-y: scroll;height: 300px;position: absolute;" class="col-md-11">
            <tr ng-repeat="doc in docs | filter : searchDocs:strict">
                <td class="col-md-2">{{doc.numeroDocumento}}</td>
                <td class="col-md-2">{{doc.tipoDocumento}}</td>
                <td class="col-md-5">
                    <div class="col-xs-2">
                        <button data-toggle="collapse" data-target="#prod{{$index}}" class="btn btn-primary btn-collapse">+</button>
                    </div>
                    <div class="col-xs-10 divSucces"></div>
                    <br /><br />
                    <div class="collapse col-xs-12" id="prod{{$index}}">
                        <div ng-repeat="detalle in doc.detalleMovin">
                            <div class="col-xs-3">{{detalle.codigoProducto}}</div><div class="col-xs-7">{{detalle.descripcionProducto}}</div><div class="col-xs-2">{{detalle.cantidadProducto}}</div><br />
                        </div>
                    </div>

                </td>

                <td class="col-md-3"><a href="/documentos/Documento?documentoID={{doc.numeroDocumento}}" class="btn btn-success">Registrar Compra</a></td>

            </tr>
        </tbody>
    </table>
</div>
<br />
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script src="~/Scripts/angular.js"></script>
    <style>
        tr {
            width: 100%;
            display: inline-table;
        }
    </style>
    <script>        
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
            $(".guardarAreaInternaProd").click(function () {               
                var idsDetalles = $(this).closest('tr').find("input[name='detalleID']").map(function () { return $(this).val(); }).get();
                var areasInternas = $(this).closest('tr').find("select[name='areaInterna']").map(function () { return $(this).val(); }).get();
                var idMovin = $(this).closest('tr').find(".idMovin").val();
                console.log(idsDetalles);
                console.log(areasInternas);
                var div = $(this).closest('tr');
                $.ajax({
                    method: "POST",
                    url: "/documentos/guardarAreaInteraMovin", data: { "idsDetalles": idsDetalles, "areasInternas": areasInternas, "idMovin": idMovin },
                    beforeSend: function () {
                        div.find('.divSucces').html("GUARDANDO...");
                    },
                    success: function (retorno) {
                        div.find('.divSucces').html(retorno);
                        div.find(".btn-collapse").trigger('click');
                    }
                });
            });
        });
        function irUrl(documentoID) {            
            //window.location.href = '/documentos/Documento?documentoID='+documentoID;
        }
    </script>
    <script>
        var docsApp = angular.module('docsApp', []);
        docsApp.controller('docsController', function ($scope, $interval, $http, docsService) {
            $scope.docs = [];
            getDocs();
            function getDocs() {
                docsService.getDocs()
                    .success(function (docs) {
                        /*for (var i = 0; i < docs.length; i++) {
                            $scope.docs.push(docs[i]);
                        }*/
                        $scope.docs = docs;
                    })
                    .error(function (error) {
                        $scope.status = 'Unable to load customer data: ' + error.message;
                        console.log($scope.status);
                    });
            }
            $interval(function () {
                $http.get('/documentos/getNewDocuments').success(function (response) {
                    /*for (var i = 0; i < response.length; i++) {
                        $scope.bodegas.push(response[i]);
                    }*/
                    console.log(response);
                    $scope.docs = response;
                });
            }, 60000);
        });

        docsApp.factory('docsService', ['$http', function ($http) {
            var docsService = {};
            docsService.getDocs = function () {
                return $http.get('/documentos/getNewDocuments');
            };
            return docsService;
        }]);
    </script>
}