@model IEnumerable<SoftwareCelta.Models.dw_movin>
@{
    ViewBag.Title = "Buscar Documento";
    
}
<br /><br /><br />
<div class="row">
    
        <h2>Buscar Documento</h2>
        <form role="form" method="post" action="@Url.Action("Documento", "documentos" )">
            
                <div class="col-md-6">
                    <input type="text" class="form-control" name="numeroDocumento" required />
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Buscar" class="btn btn-lg btn-primary btn-block" />
                </div>
            
        </form>
</div>
<br />
<br />
<h2>Documentos Registrados</h2>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>
                Numero Boleta
            </th>
            <th>
                Fecha Emision
            </th>    
            <th>
                Tipo documento
            </th>        
            <th>
                Numero de Vale
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                    @Html.DisplayFor(modelItem => item.numeroDocumento)
                </td>
                <td>
                    @SoftwareCelta.Models.Formateador.fechaCompletaToString(item.fechaEmision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroVale)
                </td>
               
                <td>
                    @Html.ActionLink("Editar", "Editar", new { documentoID = item.dw_movinID }) |
                    @Html.ActionLink("Mostrar", "DocumentoRegistrado", new { documentoID = item.dw_movinID }) |
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}