@model IEnumerable<SoftwareCelta.Models.dw_envio>
@{
    ViewBag.Title = "Estadisticas Bodegas";
    List<SoftwareCelta.Models.dw_detalle> detalles = (List<SoftwareCelta.Models.dw_detalle>)ViewData["listaDetalles"];
    System.Collections.Hashtable hashBodegas = (System.Collections.Hashtable)ViewData["bodegas"];
    int x = 0;
    double total = 0;
}
<br /><br /><br />

<div class="row">
    <div class="col-md-12">
        <h4>Filtros:</h4>
    </div>
    <div class="col-md-3">
        <label class="control-label">Desde:</label>
        <input class="form-control fecha" id="fechaInicial" name="fechaInicial" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaInicial">

    </div>
    <div class="col-md-3">
        <label class="control-label">Hasta:</label>
        <input class="form-control fecha" id="fechaFinal" name="fechaFinal" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaFinal">
    </div>
    <div class="col-md-3">
        <label class="control-label">Bodegas</label>
        <select class="form-control" id="bodega">
            <option value="todas">Todas</option>
            @foreach (SoftwareCelta.Models.dw_areaInterna bodegas in (List<SoftwareCelta.Models.dw_areaInterna>)ViewData["listabodegas"])
            {
                <option value="@bodegas.dw_areaInternaID" @if ((System.Convert.ToString(ViewBag.bodega) != "todas") && (System.Convert.ToInt32(ViewBag.bodega) == bodegas.dw_areaInternaID))
                                                          { <text> selected</text> }>@bodegas.nombre</option>
            }
        </select>
    </div>
    
    <div class="col-md-3">
        <br />
        <input class="btn btn-primary btn-block" id="Boton" value="Buscar" type="button" onclick="return false;" />
    </div>
</div>

<br />
<br />
<h2>Listado Productos Salidos de Cada Bodega</h2>
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Bodega
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
        </thead>
        <tbody>            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @SoftwareCelta.Models.Formateador.fechaCompletaToString(item.fechaDespacho)
                    </td>
                    <td>
                         @hashBodegas[detalles[x].dw_areaInternaID].ToString()    
                    </td>
                    <td>
                        @detalles[x].descripcionProducto
                    </td>
                    <td>
                        @detalles[x].cantidadProducto
                        @{
                            
                            total = total + detalles[x].cantidadProducto;           
                        }
                    </td>
                </tr>

                x++;
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h2>Total:@total</h2></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            

            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });

            $("#Boton").click(function () {
                var fechaInicial = $("#fechaInicial").val();
                var fechaFinal = $("#fechaFinal").val();
                var bodega = $("#bodega").val();                

                fechaInicial = fechaInicial.replace("/", "-").replace("/", "-");
                fechaFinal = fechaFinal.replace("/", "-").replace("/", "-");

                    if (fechaInicial == "" || fechaFinal == "") {
                        alert("Debe ingresar ambas fechas");
                    }
                    else {
                        if (bodega == "todas") {
                            ruta = window.location.pathname+"?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal;
                        } else {
                            ruta = window.location.pathname + "?strFechaInicial=" + fechaInicial + "&strFechaFinal=" + fechaFinal + "&areaInt=" + bodega;;
                        }
                        window.location.href = ruta
                    }
                
            });
        });
    </script>
}