@model SoftwareCelta.Models.user
@{
    ViewBag.Title = "Crear";
}

<h2>Cambiar datos</h2>
@if (TempData["Success"] != null)
{   <br /><br /><br />
    <div class="col-md-12">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">
                &times;
            </button>
            @TempData["Success"]
        </div>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.HiddenFor(model => model.userID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="divNombreNombre" class="form-group">
            <label class="control-label col-md-2">Nombre de Usuario</label>
            <div class="col-md-10">
                <input type="text" name="userName" id="userName" class="form-control" value="@Model.userName" required />
                <div id="mensajeErrorNombre" class="alert alert-danger hidden">
                    <strong>Error: </strong> ya existe un usuario con este nombre
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nombre Completo</label>
            <div class="col-md-10">
                <input type="text" name="nombreCompleto" id="nombreCompleto" class="form-control" value="@Model.nombreCompleto" required />
            </div>
        </div>
        <br />
        <span>Si deja la contraseña en blanco no se guardara</span>
        <br>
        <div class="form-group">
            <label class="control-label col-md-2">Nueva Contraseña</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="passwordNew" id="passwordNew" />
            </div>
        </div>

        <div id="divNombre" class="form-group">
            <label class="control-label col-md-2">Confirmación de Nueva Contraseña</label>
            <div class="col-md-10">
                <input class="form-control" placeholder="Repita la contraseña"
                       name="passwordNew2" id="passwordNew2" type="password" value="" >
                <div id="mensajeError" class="alert alert-danger hidden">
                    <strong>Error: </strong> el password no coincide con su repetición
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" id="boton" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    <script>
            $(document).ready(function () {
                function verificarDatos()
                {
                    habilitarBoton = true;
                    var nueva = $("#passwordNew").val();
                    var nueva2 = $("#passwordNew2").val();

                    if (nueva == "" || nueva2 == "") {
                        habilitarBoton = false;
                    }
                    else {
                        if (nueva == nueva2) {
                            $("#divNombre").removeClass(" has-error");
                            $("#divNombre").addClass(" has-feedback");
                            $("#divNombre").addClass(" has-success");
                            $("#mensajeError").addClass("hidden");
                        }
                        else {
                            habilitarBoton = false;
                            $("#divNombre").addClass(" has-error");
                            $("#divNombre").addClass(" has-feedback");
                            $("#divNombre").removeClass(" has-success");
                            $("#mensajeError").removeClass("hidden");
                        }
                    }
                    if (habilitarBoton) {
                        $("#boton").removeAttr("disabled");
                    }
                    else {
                        $("#boton").attr("disabled", "disabled");
                    }
                }

                $("#passwordNew").change(function () {
                    verificarDatos();
                });

                $("#passwordNew2").change(function () {
                    verificarDatos();
                });

            });
    </script>
}





