@{
    ViewBag.Title = "Permisos";
    List<int> permUser = (List<int>)ViewData["permisosActualesUser"];
    SoftwareCelta.Models.user usuario = (SoftwareCelta.Models.user)ViewData["user"];
    
    
}
<br /><br /><br />
<h2>Asignar Bodegas a Usuario:@usuario.nombreCompleto / @usuario.userName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <input type="hidden" value="@usuario.userID" name="userID" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        
        
        <br />

        <div class="table-responsive">
            <table class="table table-condensed" id="tableItems">
                <thead>
                    <tr>
                        <th class="col-md-6">Bodega/Area Interna</th>                                                
                    </tr>
                </thead>
                <tbody>
                    @foreach (SoftwareCelta.Models.dw_areaInterna bodegas in (List<SoftwareCelta.Models.dw_areaInterna>)ViewData["bodegas"])
                    {
                        <tr>
                            <td>
                                
                                <strong>@bodegas.nombre</strong>                                
                            </td>
                            <td>
                                @if (permUser.Contains(bodegas.dw_areaInternaID))
                                {
                                    <input type="checkbox" name="idBodega" value="@bodegas.dw_areaInternaID" checked/>
                                }
                                else
                                {
                                    <input type="checkbox" name="idBodega" value="@bodegas.dw_areaInternaID" />
                                }
                                
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="modal-footer">
            @Html.ActionLink("Cancelar", "Index", "Users", null, new { @class = "btn btn-primary" })
            <input type="submit" value="Guardar" id="boton" class="btn btn-default btn-lg btn-success" />

        </div>
    </div>
}
