@model SoftwareCelta.Models.dw_movin
@{
    ViewBag.Title = "Despacho De vuelto";        
    SoftwareCelta.Models.dw_envio datosEnvio = (SoftwareCelta.Models.dw_envio)ViewData["datosEnvio"];
    SoftwareCelta.DAL.ContextBDCelta db = new SoftwareCelta.DAL.ContextBDCelta();
    string nombreBodega = "";
}
<br />
<h2>Documento @Model.numeroDocumento</h2>
<br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.dw_movinID)
    <input class="hidden" name="numeroBoleta" value="@Model.numeroDocumento"/>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Nombre Cliente</label>
            @datosEnvio.nombreCliente
        </div>
        <div class="col-md-4">
            <label class="control-label">Rut</label>
            @datosEnvio.rutCliente
        </div>
        <div class="col-md-4">
            <label class="control-label">Ciudad</label>
            @datosEnvio.ciudad
        </div>
        <br /><br /><br /><br />
        <div class="col-md-4">
            <label class="control-label">Telefono</label>
            @datosEnvio.telefono
        </div>
        <div class="col-md-8">
            <label class="control-label">Direccion</label>
            @datosEnvio.direccion
        </div>
        <br /><br /><br />
        <div class="col-md-12">
            <label>Observacion</label>
            @datosEnvio.observacion
        </div>
        <br />
        <div class="col-md-12">
            <label class="control-label">Cantidad de Despachos hasta el momento</label>
            @datosEnvio.cantidadVisitasDespacho
        </div><br />
        <div class="col-md-6">
            <label class="control-label">ESCOGER NUEVA FECHA DE DESPACHO</label>
            <input class="form-control fecha" id="fechaDespacho" name="fechaDespacho" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
                   data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
                   type="text" value="@SoftwareCelta.Models.Formateador.fechaCompletaToStringS0(datosEnvio.fechaDespacho)">
        </div>
      
    </div>
    <br />
    
    <br />

    <h3>Productos Comprados</h3>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codigo Producto
                    </th>
                    <th>
                        Descripcion Producto
                    </th>
                    <th>
                        Cantidad Producto
                    </th>
                    <th>
                        Area Interna /Bodega
                    </th>
                    <th>Entrega Inmediata</th>
                    <th>Despacho a Domicilio</th>
                </tr>
            </thead>
            <tbody>

                @foreach (SoftwareCelta.Models.dw_detalle detalle in (List<SoftwareCelta.Models.dw_detalle>)ViewData["detalleDocumento"])
                {
                    
                    <tr>
                        <td>                            
                            @detalle.codigoProducto
                        </td>
                        <td>
                            @detalle.descripcionProducto
                        </td>
                        <td>
                            @detalle.cantidadProducto
                        </td>
                        <td>
                            @if (!detalle.dw_areaInternaID.Equals(0))
                            {

                                nombreBodega = db.Bodegas.Find(@detalle.dw_areaInternaID).nombre;

                            }
                            else
                            {
                                nombreBodega = "";
                            }
                            @nombreBodega
                        </td>
                        <td>

                            <input type="checkbox" class="entregaInmediata" @if (detalle.estadoDespacho.Equals(0)) { <text> checked</text> } readonly="readonly" onclick="javascript: return false;">
                        </td>
                        <td>
                            <input type="checkbox" class="despachoDomicilio" @if (detalle.estadoDespacho.Equals(2) || detalle.estadoDespacho.Equals(1)) { <text> checked</text> } readonly="readonly" onclick="javascript: return false;">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="clearfix"></div>
        <div class="modal-footer">
            <input type="submit" value="Guardar Cambio de Fecha" class="btn btn-success btn-lg btn-default" />
        </div>
    </div>
}
<br />
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });         
        });
    </script>
}

