@model SoftwareCelta.Models.dw_movin
@{
    ViewBag.Title = "Documento";
    int contadorProductos = 1;
    string despacho = "estadoDespacho";
    string nombreBodega = "";
    string fechaDespacho = SoftwareCelta.Models.Formateador.fechaCompletaToStringS0(DateTime.Now.AddDays(2));
    SoftwareCelta.Models.dw_envio datosEnvio = (SoftwareCelta.Models.dw_envio)ViewData["datosEnvio"];
    SoftwareCelta.DAL.ContextBDCelta db = new SoftwareCelta.DAL.ContextBDCelta();

}
<br /><br />
<br />
<h2>Documento Numero: @Model.numeroDocumento  </h2>
<br />
<h2>Tipo: @Model.tipoDocumento</h2>
<br />
<p>Fecha Emision: @SoftwareCelta.Models.Formateador.fechaCompletaToString(Model.fechaEmision)</p> 
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.dw_movinID)
    <input class="hidden" name="numeroDocumento" value="@Model.numeroDocumento"/>
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Nombre Cliente</label>
            @datosEnvio.nombreCliente
        </div>
        <div class="col-md-4">
            <label class="control-label">Rut</label>
            @datosEnvio.rutCliente
        </div>
        <div class="col-md-4">
            <label class="control-label">Ciudad</label>
            @datosEnvio.ciudad

        </div>
        <br />
        <div class="col-md-4">
            <label class="control-label">Telefono</label>
            @datosEnvio.telefono
        </div>
        <div class="col-md-8">
            <label class="control-label">Direccion</label>
            @datosEnvio.direccion
        </div>
        <br />
        <div class="col-md-12">
            <label>Observacion</label>
            @datosEnvio.observacion
        </div>
        <br />
        <div class="col-md-6">
            <label class="control-label">Fecha Despacho</label>
            <input class="form-control fecha" id="fechaDespacho" name="fechaDespacho" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
                   data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
                   type="text" value="@SoftwareCelta.Models.Formateador.fechaCompletaToStringS0(datosEnvio.fechaDespacho)">
        </div>
        <div class="col-md-6">
            <label class="control-label">Transportista</label>
            <select class="form-control areaInterna" name="datosTransportista">
                @foreach (SoftwareCelta.Models.dw_datosTransportista transportista in (List<SoftwareCelta.Models.dw_datosTransportista>)ViewData["datosTransportistas"])
                {
                    <option value="@transportista.dw_datosTransportistaID">@transportista.nombreCompleto|@transportista.patente</option>
                }
            </select>

        </div>
    </div>
    <br />    
    <h3>Productos Comprados</h3>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Codigo Producto
                    </th>
                    <th>
                        Descripcion Producto
                    </th>
                    <th>
                        Cantidad Producto
                    </th>
                    <th>
                        Area Interna /Bodega
                    </th>
                    <th>Despacho</th>
                                        
                </tr>
            </thead>
            <tbody>

                @foreach (SoftwareCelta.Models.dw_detalle detalle in (List<SoftwareCelta.Models.dw_detalle>)ViewData["detalleDocumento"])
                {
                    string nameDespacho = despacho + contadorProductos;
                    <tr>
                        <td>
                            <input class="hidden" name="dw_detalleID" value="@detalle.dw_detalleID" />
                            @detalle.codigoProducto
                        </td>
                        <td>
                            @detalle.descripcionProducto
                        </td>
                        <td>
                            @detalle.cantidadProducto
                        </td>
                        <td>
                            @if (!detalle.dw_areaInternaID.Equals(0))
                            {

                                nombreBodega = db.Bodegas.Find(@detalle.dw_areaInternaID).nombre;

                            }
                            else
                            {
                                nombreBodega = "";
                            }
                            @nombreBodega
                        </td>                        
                        <td>
                            @if (detalle.estadoDespacho.Equals(0))
                            { 
                                <text> 
                                    Entregado en tienda
                                </text> 
                            }
                            else if (detalle.estadoDespacho.Equals(2)){
                                <text> 
                                    Despachado a Domicilio
                                </text> 
                            }
                            else {
                                <text>
                                    Despachar   <input type="checkbox" name="estadoDespacho" class="" value="@detalle.dw_detalleID"/>
                                </text>
                            }
                        </td>
                    </tr>
                    contadorProductos++;
                }
            </tbody>
        </table>
        <br />
        <div class="clearfix"></div>
        <div class="col-md-12">
            <label>Nota General Validacion Productos</label>
            @Model.notaGeneralValidacionProductos
        </div>
        <div class="clearfix"></div><br />
        <div class="col-md-12">
            <label>Nota General Despacho</label>
            <textarea style="max-width: 100% !important; width:100%;" class="form-control" name="notaGeneralDespacho">@Model.notaGeneralDespacho</textarea>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
		 @Html.ActionLink("Cancelar", "porDespachar",null,null, new { @class = "btn btn-primary" })	
            <input type="submit" value="Despachar" class="btn btn-success btn-lg btn-default" />
        </div>
    </div>
}
<br />
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}


