@model IEnumerable<SoftwareCelta.Models.dw_movin>

@{
    ViewBag.Title = "Por Despachar";
    int i=0;
    
    List<List<SoftwareCelta.Models.dw_detalle>> listaDeListaDetalle = (List<List<SoftwareCelta.Models.dw_detalle>>)ViewData["listaDeListaDetalle"];
    List<int> cantidadProductosPorDespachar = (List<int>)ViewData["cantidadProductosPorDespachar"];
    //System.Collections.Hashtable hashAreaInterna = (System.Collections.Hashtable)ViewData["hashBodegas"];   
}

<br /><br /><br />
<div class="col-md-12 hidden" id="divAlert">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        <div id="divAlertText"></div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-12">
        <h4>Filtros:</h4>
    </div>      
    <div class="col-md-3">
        <label class="control-label">Ciudades</label>
        <select class="form-control" name="ciudad" id="ciudad">      
            <option value="todas">Todas</option>     
            @foreach (SoftwareCelta.Models.dw_ciudades_despacho ciudad in (List<SoftwareCelta.Models.dw_ciudades_despacho>)ViewData["ciudades"])
            {
                if (ViewBag.ciudad != null && ciudad.nombre == System.Convert.ToString(ViewBag.ciudad))
                {
                    <option value="@ciudad.nombre" selected>@ciudad.nombre</option>
                }
                else
                {
                    <option value="@ciudad.nombre">@ciudad.nombre</option>
                }
            }
        </select>
    </div>
    <div class="col-md-3 fechaInicio">
        <label class="control-label">Desde:</label>
        <input class="form-control fecha" id="fechaInicial" name="fechaInicial" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaInicial">

    </div>
    <div class="col-md-3 fechaFinal">
        <label class="control-label">Hasta:</label>
        <input class="form-control fecha" id="fechaFinal" name="fechaFinal" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaFinal">
    </div>     
    <div class="col-md-3">
        <label class="control-label">Estado Documentos</label>
        <select class="form-control" name="estadoDocumentos" id="estadoDocumentos">
            <option value="todas" @if (System.Convert.ToString(ViewBag.estado)=="todas") { <text>selected</text> }>Todas</option>
            <option value="1" @if (System.Convert.ToString(ViewBag.estado) == "1") { <text> selected</text> }>Validados</option>
            <option value="0" @if (System.Convert.ToString(ViewBag.estado) == "0") { <text> selected</text> }>No Validados</option>
        </select>
    </div>  
    <div class="col-md-3">
        <br />
        <input class="btn btn-primary btn-block" id="Boton" value="Filtrar" type="button" />
    </div>
</div>

<br /><br /><br />


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Numero Boleta
                </th>
                <th>
                    Fecha Emision
                </th>
                <th>Productos a Despachar</th>
                <th>Transportista</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                string nameDiv = "divProd" + @i;
                <tr>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.numeroDocumento)
                        <input class="hidden idMovin" name="idMovin" value="@item.dw_movinID" />
                        <input class="hidden numeroDocumento" value="@item.numeroDocumento" />
                    </td>
                    <td class="col-md-1">
                        @SoftwareCelta.Models.Formateador.fechaCompletaToString(item.fechaEmision)
                    </td>
                    <td class="col-md-6">
                        <div class="col-xs-2">
                            <button data-toggle="collapse" data-target="#@nameDiv" class="btn btn-success">+</button>
                        </div>
                        <div class="col-xs-10 divTextAjax">

                        </div>
                        <br /><br />

                        <div class="collapse col-xs-12" id="@nameDiv">
                            <input class="hidden idDetalleLista" name="idDetalleLista" value="@listaDeListaDetalle[i]" />
                            @foreach (var detalle in listaDeListaDetalle[i])
                            {
                                <text>
                                    <div class="col-xs-2">@detalle.codigoProducto</div>
                                    <div class="col-xs-7">@detalle.descripcionProducto</div>
                                    <div class="col-xs-1">@detalle.cantidadProducto</div>
                                    @if (detalle.validado.Equals(0))
                                    {
                                        <div class="col-xs-1 text-warning"><b>NV</b></div>
                                    }
                                    else
                                    {
                                        <div class="col-xs-1 text-success"><b>V</b></div>
                                    }
                            
                                </text>
                                <text><br /></text>
                                if (detalle.descripcionProducto.Length > 20) { 
                                    <text><br /></text>
                                }
                                if (detalle.descripcionProducto.Length > 40)
                                {
                                    <text><br /></text>
                                }
                            }
                        </div>
                    </td>

                    <td class="col-md-2">
                        <div class="col-xs-6">
                            @if (System.Convert.ToString(ViewBag.estado) == "1")
                            {
                                <select class="form-control idTransportista">
                                    @foreach (var transportista in (List<SoftwareCelta.Models.dw_datosTransportista>)ViewData["transportistas"])
                                    {
                                        <option value="@transportista.dw_datosTransportistaID">@transportista.nombreCompleto | @transportista.patente</option>
                                    }
                                </select>
                            }
                        </div>
                        <div class="col-xs-6">
                            @if (System.Convert.ToString(ViewBag.estado) == "1")
                            {
                                <a href="#" class="btn btn-block btn-success btnDespachar"> Despachar</a>
                            }
                            
                        </div>

                    </td>
                    <td class="col-md-2">
                        @if (System.Convert.ToString(ViewBag.estado) == "1")
                        { 
                            @Html.ActionLink("Ver detalle y Despachar", "Despachar", new { documentoID = item.dw_movinID })
                        }                        
                    </td>
                </tr>
                                i++;
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {           
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });

            $("#Boton").click(function () {
                var ciudad= $("#ciudad").val();
                var fechaInicial=$("#fechaInicial").val();
                var fechaFinal = $("#fechaFinal").val();
                var estado = $("#estadoDocumentos").val();
                var ruta = "";
                if (fechaInicial == "" || fechaFinal == "") {
                    ruta = window.location.pathname + "?ciudad=" + ciudad+"&estado="+estado;
                }
                else {
                    ruta = window.location.pathname + "?ciudad=" + ciudad + "&fechaDesde=" + fechaInicial + "&fechaHasta="+fechaFinal+"&estado="+estado;
                }
                
                window.location.href = ruta
                
            });

            $(".btnDespachar").click(function () {
                var idDetalleMovin = $(this).closest('tr').find('.idMovin').val();
                var numeroDocumento = $(this).closest('tr').find('.numeroDocumento').val();
                var idTransportista = $(this).closest('tr').find('.idTransportista').val();
                var div=$(this).closest('tr');
                var rm=confirm("¿Seguro despachara este pedido?");
			    if(rm==true){		
					$.ajax({
						method: "POST",
						url: "/Despacho/listadoDespacho/despacharSinEditar", data: { "idDetalleMovin": idDetalleMovin, "idTransportista": idTransportista },
						beforeSend: function () {
							div.find('.divTextAjax').html("PROCESANDO...");
						},
						success: function (retorno) {
							$("#divAlert").removeClass("hidden");
							$("#divAlertText").html("La Boleta Numero" + numeroDocumento + " fue despachada");
							div.remove();
						}
					});               
				}
                //$("#form-message").delay(5000).fadeOut('slow');
            });
        });


    </script>
}