@model IEnumerable<SoftwareCelta.Models.dw_movin>

@{
    ViewBag.Title = "Por Despachar";
    int i=0;
    
    List<List<SoftwareCelta.Models.dw_detalle>> listaDeListaDetalle = (List<List<SoftwareCelta.Models.dw_detalle>>)ViewData["listaDeListaDetalle"];
    List<int> cantidadProductosPorDespachar = (List<int>)ViewData["cantidadProductosPorDespachar"];
       
}

<br /><br />
<div class="col-md-12 hidden">
    <div class="col-md-12">
        <h4>Filtros:</h4>
    </div>      
    <div class="col-md-4">
        <label class="control-label">Area/Bodega</label>
        <select class="form-control" name="bodega" id="bodega">      
            <option value="0">TODOS</option>     
            @foreach (SoftwareCelta.Models.dw_areaInterna bodega in (List<SoftwareCelta.Models.dw_areaInterna>)ViewData["bodegas"])
            {
                <option value="@bodega.dw_areaInternaID">@bodega.nombre</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <br />
        <input class="btn btn-primary btn-block" id="Boton" value="Filtrar" type="button" />
    </div>
</div>

<br /><br /><br />
<h2>Boletas para despachar Hoy @SoftwareCelta.Models.Formateador.fechaCompletaToString(DateTime.Today)</h2>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Numero Boleta
                </th>
                <th>
                    Cantidad Productos por despachar
                </th>
                <th>Productos a Despachar</th>                                                
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                string nameDiv = "divProd" + @i;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroDocumento)
                    </td>
                    <td class="col-xs-2">
                        @cantidadProductosPorDespachar[i]
                    </td>                
                    <td class="col-xs-4">
                        <button data-toggle="collapse" data-target="#@nameDiv" class="btn btn-success">+</button>

                        <div class="collapse col-xs-12" id="@nameDiv">
                            @foreach (var detalle in listaDeListaDetalle[i])
                            {
                                <text><div class="col-xs-4">@detalle.codigoProducto</div><div class="col-xs-4">@detalle.descripcionProducto</div><div class="col-xs-2">@detalle.cantidadProducto</div></text>
                                <text><br /></text>
                            }
                        </div>
                    </td>   
                    <td>         
                        @Html.ActionLink("Ver detalle y Despachar", "Despachar", new { documentoID = item.dw_movinID }, new { target = "_blank" })
                        
                    </td>
                    <td>
                        <a href="#" class="btn btn-block btn-success despachar"> Despachar</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {           
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });

            $("#Boton").click(function () {
                var bodega = $("#bodega").val();               
                var ruta = "/listadoDespacho/porDespachar?arInt=" + bodega;
                window.location.href = ruta
                
            });
        });




    </script>
}