@model SoftwareCelta.Models.dw_envio
@{
    ViewBag.Title = "Datos Envio";

    List<SoftwareCelta.Models.dw_ciudades_despacho> ciudades = (List<SoftwareCelta.Models.dw_ciudades_despacho>)ViewData["dw_ciudades"];

}
<br /><br /><br />

<h2>Nuevo</h2>
**Vale de venta solo debe ser numero. No se permiten valores con otros caracteres Ej.Caracteres como "-",",","." no estan permitidos.
<br />
 Para adjuntar otro vale de venta presionar boton "Adjuntar vale de venta";
<br /><br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 bigDiv">
            <label class="control-label">Vale Venta</label>
            <a id="botonAgregarItem" class="btn btn-primary btnAgregarNumVale"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Adjuntar Vale Venta</a>
            <br /><br />
            <div class="divNumVale col-md-12">
                <input class="form-control Int" name="valeVenta" type="number" style="display:initial;" required />
               
                <a class="btn btn-danger btnEliminarNumVale" id="botonEliminarItem"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                
            </div>
            <br />
            
        </div>
        <div class="col-md-4">
            <label class="control-label">Nombre Cliente</label>
            <input class="form-control" name="nombreCliente" type="text" required />
        </div>
        <div class="col-md-4">
            <label class="control-label">Rut</label>
            <input class="form-control" name="rutCliente" type="text" />
        </div>
        <div class="col-md-4">
            <label class="control-label">Ciudad</label>
            <select name="ciudad" class="form-control">
                @foreach (var ciudad in ciudades)
                {
                <option value="@ciudad.nombre">@ciudad.nombre</option>
                }
            </select>

        </div>
        <br /><br /><br /><br />
        <div class="col-md-4">
            <label class="control-label">Telefono</label>
            <input class="form-control" name="telefono" type="text" />
        </div>
        <div class="col-md-8">
            <label class="control-label">Direccion</label>
            <input class="form-control" name="direccion" type="text" style="max-width: 20000px;" required />
        </div>
        <br /><br />
        <br /><br />
        <br /><br /><br />
        <div class="col-md-12">
            <label>Observacion</label>
            <textarea style="max-width: 100% !important; width:100%;" class="form-control" name="observacion"></textarea>
        </div>
        <br />
        <div class="col-md-6">
            <label class="control-label">Fecha Venta</label>
            <input class="form-control fecha" id="fechaValeVenta" name="fechaValeVenta" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
                   data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
                   type="text" value="@SoftwareCelta.Models.Formateador.fechaCompletaToString(DateTime.Now)" required>
        </div>
    </div>
    <div class="modal-footer">
        @Html.ActionLink("Cancelar", "Index", null, null, new { @class = "btn btn-primary" })
        <input type="submit" value="Guardar Datos Envio" class="btn btn-success btn-lg btn-default" />
    </div>        
}
<br /><br />
@section Scripts {
    
    <script>
        $(document).ready(function () {
            var numeroItem = 1;
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY',
                locale: 'es'
            });
            $(".btnAgregarNumVale").click(function () {                
                
                var $bigDiv = $(".bigDiv");
                var $lastDivNumVale = $bigDiv.find(".divNumVale:last");
                var $temp = $lastDivNumVale.clone();
                $temp.find('.form-control').val('');                
                
                $bigDiv.append($temp);
                $bigDiv.append('<br />');
                numeroItem++;             
                return false;
            });
            $('.Int').bind('keypress', function (event) {
                var regex = new RegExp("^([0-9])$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });
            $(document).on("click", ".btnEliminarNumVale", function () {
                var element = this;
                if (numeroItem > 1) {
                    $(element).closest('.divNumVale').remove();                    
                    numeroItem--;
                } else {
                    alert("No puede eliminar este item , ya que se debe por lo menos tener un numero de vale.")
                }
                return false;
            });
        });
    </script>
}


