@model IEnumerable<SoftwareCelta.Models.dw_envio>

@{
    ViewBag.Title = "Index";
}
<br /><br />
<h2>Nuevo Vale Venta</h2>

<p>    
    @Html.ActionLink("Crear Nueva", "Create", null, null, new { @class = "btn btn-primary" })
</p>
<br />
<div class="col-md-12">
    <div class="col-md-3 fechaInicio">
        <label class="control-label">Desde:</label>
        <input class="form-control fecha" id="fechaInicial" name="fechaInicial" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaDesde">

    </div>
    <div class="col-md-3 fechaFinal">
        <label class="control-label">Hasta:</label>
        <input class="form-control fecha" id="fechaFinal" name="fechaFinal" data-val-date="Ingrese por favor una fecha." data-val-required="El campo fecha es obligatorio."
               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
               type="text" value="@ViewBag.fechaHasta">
    </div>
    <div class="col-md-3">
        <br />
        <input class="btn btn-primary btn-block" id="Boton" value="Buscar" type="button" />
    </div>


</div>
<br />
<br /><br /><br /><br />
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>Fecha Emision</th>
            <th>
                Vale Venta
            </th>
            <th>
                Nombre Cliente
            </th>
            <th>
                Rut Cliente
            </th>
            <th>
                Ciudad
            </th>
            <th>
                Telefono
            </th>
            <th>
                Direccion
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @SoftwareCelta.Models.Formateador.fechaCompletaToString(item.fechaValeVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valeVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rutCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.dw_envioID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.dw_envioID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.dw_envioID })
                </td>
            </tr>
        }

    </table>
</div>
@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Scripts.Render("~/Scripts/datetimepicker/moment.js")
    @Scripts.Render("~/Scripts/datetimepicker/bootstrap-datetimepicker.js")
    <script>
        $(document).ready(function () {
            $(".fecha").datetimepicker({
                viewMode: 'days',
                format: 'DD/MM/YYYY'
            });
          

            $("#Boton").click(function () {
                var fechaInicial = $("#fechaInicial").val();
                var fechaFinal = $("#fechaFinal").val();              
                ruta = window.location.pathname + "?fechaDesde=" + fechaInicial + "&fechaHasta=" + fechaFinal;
                window.location.href = ruta;
            });

        });
    </script>
}