@model IEnumerable<SoftwareCelta.Models.dw_areaInterna>

@{
    ViewBag.Title = "Bodegas/Areas Internas";
}

<h2>Bodegas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create",null,null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
<table class="table">
    <tr>
        <th>
            Nombre Bodega/Area Interna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.dw_areaInternaID }) |
            @Html.ActionLink("Mostrar", "Details", new { id = item.dw_areaInternaID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.dw_areaInternaID })
        </td>
    </tr>
}

</table>
</div>
